/*
------ Common styles -------
*/

body {
    background-image: linear-gradient(90deg, gray, rebeccapurple);
    overflow-y: auto;
    overflow-x: hidden;
}

.section {
    padding: 1em;
    scroll-margin-top: 6em;
}

.title-line {
    width: 100%;
    text-align: center;
    border-bottom: 0.1em solid rgba(13, 106, 199, 0.718);
    line-height: 0.1em;
    margin: 0.2em 0 0.4em;
}

.title-line-value {
    background: #fff;
    padding: 0 0.2em;
}

/* ---------- */

#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
}

.icon {
    border-radius: 70%;
    width: 8vw;
    height: 100%;
    position: absolute;
    left: 0.5em;
}

.vertical-line {
    border-left: 0.2em solid white;
    height: 2em;
    left: 50%;
    margin-left: 0.5em;
    top: 0;
    padding-right: 0.5em;
}

.header-items {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-left: 1em;
}

.header-items a:hover {
    color: plum;
}

.header-items a {
    text-decoration: none;
    color: white;
}

.paragraph {
    text-align: center;
    padding: 0.5em;
    color: white;
    align-items: center;
    justify-content: center;
    display: grid;
}

#about table {
    align-items: center;
    justify-content: center;
    display: grid;
}

#about th, td {
    border: 0.2em solid;
    color: lightgoldenrodyellow;
}


.photos {
    height: 45vh;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    overflow: auto;
}

.photos-column {
    padding: 1em 1em;
}

.photos img {
    width: 20em;
    height: 20em;
    object-fit: fill;
}

.playlist-iframe {
    align-items: center;
    justify-content: center;
    display: grid;
}

.contact-form {
    display: table;
    margin: 0 auto;
}

.contact-label {
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    display: table-row;
}

.contact-label label, input, select {
    display: table-cell
}

.contact-label-mail {
    display: table-row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    color: white;
}

.contact-label-mail label, textarea {
    display: table-cell
}


#icons-select {
    font-family: "FontAwesome", serif;
    font-size: 2em;

}

input[type=submit] {
    background-color: plum;
    color: white;
    width: 180%;
    height: 2em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}
