#menu {
    background: #3E5C76;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding-right: 0;
}

.title-line {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgba(13, 106, 199, 0.718);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.title-line-value {
    background: #fff;
    padding: 0 10px;
}

.paragraph {
    text-align: center;
}

.icon {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: absolute;
    left: 12px;
}